<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.dao.shop.ShopMapper" >
  <resultMap id="BaseResultMap" type="com.mall.model.shop.Shop" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="CHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
    <result column="banner" property="banner" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="BIGINT" />
    <result column="city" property="city" jdbcType="BIGINT" />
    <result column="district" property="district" jdbcType="BIGINT" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="REAL" />
    <result column="latitude" property="latitude" jdbcType="REAL" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, modify_time, is_delete, sort, remark, name, thumbnail, banner, province, 
    city, district, street, longitude, latitude, introduce
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from shop
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shop
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.model.shop.Shop" >
    insert into shop (id, create_time, modify_time, 
      is_delete, sort, remark, 
      name, thumbnail, banner, 
      province, city, district, 
      street, longitude, latitude, 
      introduce)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=CHAR}, #{sort,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{thumbnail,jdbcType=VARCHAR}, #{banner,jdbcType=VARCHAR}, 
      #{province,jdbcType=BIGINT}, #{city,jdbcType=BIGINT}, #{district,jdbcType=BIGINT}, 
      #{street,jdbcType=VARCHAR}, #{longitude,jdbcType=REAL}, #{latitude,jdbcType=REAL}, 
      #{introduce,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.model.shop.Shop" >
    insert into shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="thumbnail != null" >
        thumbnail,
      </if>
      <if test="banner != null" >
        banner,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="banner != null" >
        #{banner,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=BIGINT},
      </if>
      <if test="city != null" >
        #{city,jdbcType=BIGINT},
      </if>
      <if test="district != null" >
        #{district,jdbcType=BIGINT},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=REAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=REAL},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.model.shop.Shop" >
    update shop
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        thumbnail = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="banner != null" >
        banner = #{banner,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=BIGINT},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=BIGINT},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=BIGINT},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=REAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=REAL},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.model.shop.Shop" >
    update shop
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=CHAR},
      sort = #{sort,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      thumbnail = #{thumbnail,jdbcType=VARCHAR},
      banner = #{banner,jdbcType=VARCHAR},
      province = #{province,jdbcType=BIGINT},
      city = #{city,jdbcType=BIGINT},
      district = #{district,jdbcType=BIGINT},
      street = #{street,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=REAL},
      latitude = #{latitude,jdbcType=REAL},
      introduce = #{introduce,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>