<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="assets/css/font-awesome.min.css" th:href="@{/assets/css/font-awesome.min.css}"/>
        <!--[if IE 7]>
          <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css"/>
        <![endif]-->
        <link rel="stylesheet" href="assets/css/ace.min.css" th:href="@{/assets/css/ace.min.css}"/>
        <link rel="stylesheet" href="assets/css/ace-rtl.min.css" th:href="@{/assets/css/ace-rtl.min.css}"/>
        <link rel="stylesheet" href="assets/css/ace-skins.min.css" th:href="@{/assets/css/ace-skins.min.css}"/>
        <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}"/>
        <!--[if lte IE 8]>
          <link rel="stylesheet" href="assets/css/ace-ie.min.css"  />
        <![endif]-->
        <script type="text/javascript" src="assets/js/ace-extra.min.js" th:src="@{/assets/js/ace-extra.min.js}"></script>
        <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js" ></script>
        <script src="assets/js/respond.min.js" ></script>
        <![endif]-->
        <script type="text/javascript" src="js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>        
<!--         <script type="text/javascript" src="assets/layer/layer.js" th:src="@{/assets/layer/layer.js}"></script>
 --><title>登陆</title>
</head>

<body class="login-layout">
	<div class="logintop">
		<span>欢迎后台管理界面平台</span>
		<ul>
			<li><a href="#">返回首页</a></li>
			<li><a href="#">帮助</a></li>
			<li><a href="#">关于</a></li>
		</ul>
	</div>
	<div class="loginbody">
		<div class="login-container">
			<div class="center">
				<h1>
					<i class="icon-leaf green"></i> <span class="orange">婷卖网</span> <span
						class="white">后台管理系统</span>
				</h1>
				<h4 class="white">Background Management System</h4>
			</div>

			<div class="space-6"></div>

			<div class="position-relative">
				<div id="login-box" class="login-box widget-box no-border visible">
					<div class="widget-body">
						<div class="widget-main">
							<h4 class="header blue lighter bigger">
								<i class="icon-coffee green"></i> 管理员登陆
							</h4>
                            <span style="color: red" th:text="${msg}" id="msg">消息</span>
							<div class="login_icon">
								<img src="images/login.png" />
							</div>

							<form class="" method="post" id="form1" name="form1">
								<fieldset>
									<label class="block clearfix"> <span
										class="block input-icon input-icon-right"> <input
											type="text" class="form-control" placeholder="登录名"
											name="username" id="username" /> <i class="icon-user"></i>
									</span>
									</label> <label class="block clearfix"> <span
										class="block input-icon input-icon-right"> <input
											type="password" class="form-control" placeholder="密码"
											name="password" id="password" /> <i class="icon-lock"></i>
									</span>
									</label>

									<div class="space"></div>

									<div class="clearfix">
														<label class="inline">
															<input type="checkbox" class="ace" name="rememberMe"/>
															<span class="lbl">保存密码</span>
														</label>

														<button type="button" class="width-35 pull-right btn btn-sm btn-primary" id="login_btn">
															<i class="icon-key"></i>
															登陆
														</button>
									</div>

									<div class="space-4"></div>
								</fieldset>
							</form>

							<div class="social-or-login center">
								<span class="bigger-110">通知</span>
							</div>

							<div class="social-login center">本网站系统不再对IE8以下浏览器支持，请见谅。</div>
						</div>
						<!-- /widget-main -->

						<div class="toolbar clearfix"></div>
					</div>
					<!-- /widget-body -->
				</div>
				<!-- /login-box -->
			</div>
			<!-- /position-relative -->
		</div>
	</div>
	<div class="loginbm">
		版权所有 2016 <a href="">婷卖网系统有限公司</a>
	</div>
	<strong></strong>
</body>

<script type="text/javascript">
if (window != top)
    top.location.href = location.href;
//绑定键盘回车键
document.onkeydown = function (e) {
    var event = e || window.event;
    var code = event.keyCode || event.which || event.charCode;
    if (code == 13) {
        login();
    } 
};

function login(){
	var username=$("#username").val();
	var password=$("#password").val();
	if(username==""){
		$("#msg").html("登录名不能为空！");
		return false;
	}
	if(password==""){
		$("#msg").html("密码不能为空！");
		return false;
	} 
	 $("#msg").html(" ");
	  $("#form1").submit();
}
	$('#login_btn').on('click',
			function() {
				login();
			});
</script>
</html>
