<head th:fragment="util">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css"  th:href="@{/assets/css/bootstrap.min.css}" />
<!--[if IE 7]>
 <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
<![endif]-->
<!--[if lte IE 8]>
 <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
<![endif]-->
<!--[if lt IE 9]>
 <script src="assets/js/html5shiv.js"></script>
 <script src="assets/js/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>       
<link rel="stylesheet" href="/assets/css/codemirror.css" th:href="@{/assets/css/codemirror.css}"/>
<link rel="stylesheet" href="/assets/css/ace.min.css" th:href="@{/assets/css/ace.min.css}"/>
<link rel="stylesheet" href="/assets/css/font-awesome.min.css" th:href="@{/assets/css/font-awesome.min.css}"/>
 <script type="text/javascript" src="js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script> 
<script type="text/javascript" src="/assets/js/bootstrap.min.js" th:href="@{/assets/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="/js/jquery-form.js" th:href="@{/js/jquery-form.js}"></script>
<!-- page specific plugin scripts -->
<script type="text/javascript" src="/js/H-ui.js" th:href="@{/js/H-ui.js}"></script> 
<script type="text/javascript" src="/js/H-ui.admin.js" th:href="@{/js/H-ui.admin.js}"></script> 
<script type="text/javascript" src="/assets/layer/layer.js" th:href="@{/assets/layer/layer.js}"></script>
<script type="text/javascript" src="/assets/laydate/laydate.js" th:href="@{/assets/laydate/laydate.js}"></script>
<script type="text/javascript" src="assets/js/ace-elements.min.js" th:src="@{/assets/js/ace-elements.min.js}"></script>
<script type="text/javascript" src="assets/js/ace.min.js" th:src="@{/assets/js/ace.min.js}"></script>
 <script type="text/javascript" src="assets/layer/layer.js" th:src="@{/assets/layer/layer.js}"></script>
</head>