<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.dao.user.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.mall.model.user.SysRole" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="available" property="available" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, available, description, role,created_by,create_time
  </sql>
  <insert id="insert" parameterType="SysRole" >
    insert into sys_role
     (
     description, 
     role
      )
    values 
    (
    #{description}, 
    #{role}
    )
  </insert>
  
  <update id="update" parameterType="SysRole" >
    update sys_role
    <set >
      <if test="available != null" >
        available = #{available},
      </if>
      <if test="description != null and ''!=description" >
        description = #{description},
      </if>
      <if test="role != null and ''!=role" >
        role = #{role},
      </if>
    </set>
    where id = #{id}
  </update>
  
  <select id="query" resultMap="BaseResultMap" parameterType="SysRole" >
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where 1 = 1
    <if test="available != null" >
        and available = #{available}
    </if>
    <if test="role != null and ''!=role" >
        and role like CONCAT('%',#{role},'%') 
    </if>
  </select>
  
  <select id="findById" resultType="SysRole">
  select 
   <include refid="Base_Column_List" />
   from sys_role where id=#{id}
  </select>
  
  <select id="findByName" resultType="SysRole">
  select 
   <include refid="Base_Column_List" /> 
   from sys_role where role=#{role}
  </select>
  
  <delete id="delete">
  delete from sys_role where id=#{id}
  </delete>
</mapper>