<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.dao.user.UserDetailMapper" >
  <resultMap id="BaseResultMap" type="com.mall.model.user.UserDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="sex" property="sex" jdbcType="CHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="avatar_file" property="avatarFile" jdbcType="VARCHAR" />
    <result column="home_addre" property="homeAddre" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, nick_name, birthday, sex, qq,home_addre,avatar_file
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from user_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.model.user.UserDetail" >
    insert into user_detail (id, nick_name, birthday, 
      create_time, sex, qq)
    values (#{id,jdbcType=BIGINT}, #{nickName,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, 
      #{sex,jdbcType=CHAR}, #{qq,jdbcType=VARCHAR})
  </insert>

  <update id="update" parameterType="com.mall.model.user.UserDetail" >
    update user_detail
    <set >
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
     
      <if test="sex != null" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="query" resultMap="BaseResultMap" parameterType="com.mall.model.user.UserDetail">
    select 
    <include refid="Base_Column_List" />
    from user_detail
    where 1 = 1
    <if test="nickName != null" >
      AND nick_name like CONCAT('%',#{nickName},'%')
    </if>
    <if test="birthday != null" >
      AND birthday = #{birthday,jdbcType=TIMESTAMP}
    </if>
    <if test="sex != null" >
      AND sex = #{sex,jdbcType=CHAR}
    </if>
    <if test="qq != null" >
      AND qq = #{qq,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>