<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.dao.user.UserShopRlationMapper" >
  <resultMap id="BaseResultMap" type="com.mall.model.user.UserShopRlation" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="CHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, modify_time, is_delete, sort, remark, created_by, shop_id
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_shop_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from user_shop_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.model.user.UserShopRlation" >
    insert into user_shop_relation (id, create_time, modify_time, 
      is_delete, sort, remark, 
      created_by, shop_id)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=CHAR}, #{sort,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT})
  </insert>

  <update id="update" parameterType="com.mall.model.user.UserShopRlation" >
    update user_shop_relation
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="query" resultMap="BaseResultMap" parameterType="com.mall.model.user.UserShopRlation">
    select 
    <include refid="Base_Column_List" />
    from user_shop_relation
    where 1=1
    <if test="createTime != null" >
      AND create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="modifyTime != null" >
      AND modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    </if>
    <if test="isDelete != null" >
      AND is_delete = #{isDelete,jdbcType=CHAR}
    </if>
    <if test="sort != null" >
      AND sort = #{sort,jdbcType=INTEGER}
    </if>
    <if test="remark != null" >
      AND remark = #{remark,jdbcType=VARCHAR}
    </if>
    <if test="createdBy != null" >
      AND created_by = #{createdBy,jdbcType=BIGINT}
    </if>
    <if test="shopId != null" >
      AND shop_id = #{shopId,jdbcType=BIGINT}
    </if>
  </select>
</mapper>