<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.dao.user.UserInfoMapper" >
 
  <sql id="Base_Column_List" >
    id, name, password, salt, state, username,email,phone
  </sql>
  <insert id="insert" parameterType="com.mall.model.user.UserInfo" >
    insert into user_info (id, name, password, 
      salt, state, usernameemail,phone
      )
    values (#{id}, #{name}, #{password}, 
      #{salt}, #{state}, #{username},#{email},#{phone}
      )
  </insert>
  
  <select id="findByName" resultType="UserInfo" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where username = #{name}
  </select>
  
  <!--修改密码  -->
  <update id="editPwd" parameterType="UserInfo">
  update user_info set password=#{password} where id=#{id}
  </update>
</mapper>