<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.dao.system.SysLogMapper" >
  <insert id="insert" parameterType="SysLog" >
    insert into sys_log
     (
     id,
     opt_time,
     opt_category, 
     opt_summary,
     ip_address, 
     computer_name, 
     operator
      )
    values 
    (
    #{id},
    #{opt_time},
    #{opt_category}, 
    #{opt_summary},
    #{ip_address},
    #{computer_name}, 
    #{operator}
    )
  </insert>
  
  <select id="query" parameterType="SysLog" resultType="SysLog">
  select
    l.id,
	l.opt_time,
	l.opt_category,
	l.opt_summary,
	l.ip_address,
	l.computer_name,
  u.user_name as userName
from
	sys_log l
left join user_login u
on u.id=l.operator
where 1=1
<if test="opt_summary!=null and ''!=opt_summary">
and l.opt_summary like CONCAT('%',#{opt_summary},'%')
</if>
<if test="startTime != null and ''!=startTime">
  <![CDATA[ and l.opt_time >= date_format(#{startTime},'%Y-%m-%d %H:%i:%s')]]>
</if>
<if test="endTime != null and ''!=endTime">
 <![CDATA[ and l.opt_time <= date_format(#{endTime},'%Y-%m-%d %H:%i:%s')]]>
</if>
  </select>
</mapper>